.main {
    text-align: center;
    font-size: large;
    font-family:fantasy;
    background-color: pink;

}

.input {
    font-style:italic;
    font-family: cursive;
    color:red;
    text-align: center;
    
}


